body {
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
pre {
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ddd;
}
